.row{
    padding: 20px 20px 20px 20px;
}

.specialist_info{

    border: 1px solid #8FBCBB;
    margin: 12px 12px 12px 12px;
    padding: 6px 6px 6px 6px;
    visibility: hidden;
}

.specialist_img{
    margin-left: 10px;
    padding-right: 8px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    float: left;
    
}

.error_message{
    visibility: hidden;
}

.form__item{
    margin: 0 auto;
}

.specialist_bio{
    margin-left: 22px;
}
