*{
    padding: 0;
    margin: 0;
}
.my-profile_whole_page{
    background-color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 35px;
}

.my-profile_header{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-profile_block_title{
    font-size: 64px;
}

.my-profile_no_login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    margin: 150px;
    cursor: pointer;
}

.my-profile_login{
    font-size: 28px;
    color: #8d33ac;
    user-select: none;
}


.my-profile_edit_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: max-content;
    height: 25px;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #0d6efd;
}

.my-profile_edit_text{
    width: 100%;
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    color: white;
    user-select: none;
}

.my-profile_main_info{
    display: flex;
    flex-wrap: wrap;
}

.my-profile_all_info{
    width: 100%;
    display: flex;
    min-height: fit-content;
}

.my-profile_left_side{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile_avatar{
    width: 200px;
    height: 200px;
}

.my-profile_avatar img{
    width: 200px;
    height: 200px;
}

.my-profile_bio{
    width: 100%;
    font-family: 'Montserrat', cursive;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}

.my-profile_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile_redirect_link{
    text-decoration: none;
    margin: 5px 0;
}

.my-profile_delete_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.my-profile_right_side{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile_fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.my-profile_field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
}

.my-profile_field_name{
    font-size: 20px;
}

.my-profile_field_value{
    font-size: 24px;
    text-align: start;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background: #d9d9d9;
    border-radius: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin: 4px;
}
