

.day{
    height: 400px;
    border-radius: 2px;
}

.hour{
    height: 99%;
    border-radius: 1px;
}

.weekend{
    font-size: 26px;
    text-align: center;
    background-color: #ff9100a5;
    height: 99%;
    width: 99%;
    writing-mode: vertical-lr;
    padding: 20px 2px 2px 2px;
}

.order_block{
    text-align: center;
    background-color: #1b779672;
    margin-bottom: 1px;
    padding: 10px 2px 2px 2px;
}

.free_block{
    text-align: center;
    background-color: #569a5194;
    margin-bottom: 1px;
    padding: 10px 2px 2px 2px;
}

.specialist_first_name {
    padding: 0 0 0 0;
}
