.col{
    border: 3px solid #8d33ac;
    height: 90%;
    border-radius: 2px;
    margin-right: 1%;
    text-align: center;
}

.day{
    height: 400px;
    border-radius: 2px;
}

.hour{
    height: 99%;
    border-radius: 1px;
}

.weekend{
    background-color: #ff9100;
    height: 99%;
    width: 99%;
    writing-mode: vertical-lr;
}

.order_block{
    background-color: #1b7796;
    margin-bottom: 1px;
}

.free_block{
    background-color: #569a51;
    margin-bottom: 1px;
}