.container {
    text-align: center;
}

.MP-logo {
    height: 10vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .MP-logo {
        animation: MP-logo-spin infinite 20s linear;
    }
}

.MP-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MP-link {
    margin-top: 30vmin;
    color: #61dafb;
}

@keyframes MP-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
