*{
    padding: 0;
    margin: 0;
}
.my-business-list_whole_page{
    background-color: white;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 35px;
}

.my-business-list_header{
    width: 87%;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-business-list_block_title{
    font-size: 64px;
}

.my-business-list_list_of_all{
    display: flex;
    flex-wrap: wrap;
}

.my-business-list_no_businesses{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
    margin: 150px;
    cursor: pointer;
}

.my-business-list_register_business{
    font-size: 28px;
    color: #8d33ac;
    user-select: none;
}

.my-business_add_block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: max-content;
    height: 25px;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #0d6efd;
}

.my-business_add_text{
    width: 100%;
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    color: white;
    user-select: none;
}


.my-business-list_main_component{
    box-sizing: border-box;
    width: 600px;
    height: 225px;
    background: #d9d9d9;
    border: 3px solid black;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 55px;
}

.my-business-list_logo{
    width: 115px;
    height: 115px;
    margin-right: 30px;
}

.my-business-list_logo img{
    width: 115px;
    height: 115px;
}

.my-business-list_all_text{
    width: 350px;
    height: 116px;
    margin-left: 30px;
}

.my-business-list_business_name{
    margin-bottom: 5px;
    margin-top: -30px;
    width: 350px;
    height: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;

    color: #000000;
}

.my-business-list_business_type{
    width: 350px;
    height: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #000000;
}

.my-business-list_business_address{
    width: 350px;
    height: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    color: #000000;
}

.my-business-list_more{
    margin-top: 25px;
    width: 350px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.15em;

    color: #000000;
}