.nav-panel {
    margin-bottom: 5px;
    background-color: #f2f6fa;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #8FBCBB !important;
    --bs-nav-tabs-link-hover-border-color: #8FBCBB !important;
}

.brand_icon {
    width: 48px;
    height: 48px;
}

.user__image__logo {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.element__image__nav {
    width: 32px;
    height: 32px;
    margin: 1px 4px 1px 4px;
}

.dropdown-menu {
    --bs-dropdown-padding-x: 6px !important;
    --bs-dropdown-link-hover-bg: #81A1C1 !important;
}

.dropdown-item {
    color: #2E3440 !important;
}

.form-control {
    color: #5E81AC !important;
    border: 1px solid #88C0D0 !important;
}

.form-control:focus {
    border-color: antiquewhite !important;
    box-shadow: 0 0 0 0.1rem #88C0D0 !important;
}

.dropdown-toggle:after {
    content: none !important;
}

.input-group {
    margin-left: 10px;
}

.btn-outline-primary {
    --bs-btn-color: #2E3440 !important;
    --bs-btn-border-color: #88C0D0 !important;
}

.btn:hover {
    background-color: #88C0D0 !important;
}

.btn:focus {
    background-color: #88C0D0 !important;
    box-shadow: 0 0 0 0.1rem #88C0D0 !important;
}
