.nav-panel {
    margin-bottom: 14px;
    padding: 10px !important;
    margin-bottom: 10px;
    background-color: #F8F9FA;
}

.carousel-caption {
    color: white !important;
    size: 48px;
    padding-bottom: 5rem !important;
}

.custom_nav_link {
    align-self: flex-end!important;  
    text-align: end !important;
}

.search_icon {
    width: 24px;
    height: 24px;
}

.brand_icon {
    width: 48px;
    height: 48px;
}

.user__image__logo {
    width: 38px;
    height: 38px;
}

.element__image__nav {
    width: 32px;
    height: 32px;
    margin: 1px 4px 1px 4px;
}

.dropdown-menu {
    --bs-dropdown-min-width: auto !important;
    --bs-dropdown-padding-x: 6px !important;
    --bs-dropdown-padding-y: 10px !important;
    --bs-dropdown-link-hover-bg: rgba(92, 234, 236, 0.782) !important;
    --bs-dropdown-spacer: 0.5rem !important;
}

.dropdown-toggle::after {
    border: 0cm !important;
    content: none !important;
}

.bs-tooltip-bottom {
    padding: 20px 20px 20px 20px !important;
}

.input-group {
    margin-left: 20px;
    margin-right: 20px;
}
